---
layout: default
---
{% if page._styles %}
  <style type="text/css">
    {{ page._styles }}
  </style>
{% endif %}

<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-description">{{ page.description }}</p>
  </header>

  <div class="row">
    <!-- Sidebar Column for TOC -->
    {% if page.toc %}
      <div class="col-md-3">
        <div class="sidebar-toc">
          <!-- Generate TOC -->
          {{ content | toc }}
        </div>
      </div>
    {% endif %}

    <!-- Main Content Column -->
    <div class="{% if page.toc %}col-md-9{% else %}col-12{% endif %}">
      <article>
        <!-- Display Main Content -->
        {{ content }}
      </article>
    </div>
  </div>

  {% if page.related_publications %}
    <h2>References</h2>
    <div class="publications">
      {% bibliography --cited_in_order %}
    </div>
  {% endif %}

  {% if site.giscus and page.giscus_comments %}
    {% include giscus.liquid %}
  {% endif %}
</div>

